# Налаштування сервера
PORT=5000

# Налаштування підключення до MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=твій_пароль_від_MySQL
DB_NAME=construction_shop

# Обліковий запис адміністратора (сидиться при старті сервера)
ADMIN_EMAIL=твій_email@gmail.com
ADMIN_PASSWORD=твій_пароль_адміна
